<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :category_id, class: "form-label" %>
    <%= form.select :category_id, categories.map {|cat| [cat.name, cat.id]}, class: "form-select" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :engine_id, class: "form-label" %>
    <%= form.select :engine_id, engines.map {|engine| [engine.name, engine.id]}, class: "form-select" %>
  </div>

 
<h6 class='mb-3'>Condition</h6>
 <div class="form-check form-check-line mb-3">
  <%conditions.each do |option|%>
    <%= form.label :condition, option.capitalize, class: "form-label" %>
    <%= form.radio_button :condition, option, class: "mr-2" %>
    <%end%>
  </div>

  <h6 class='mb-3'> Features </h6>
  <div class= 'form-check mb-3'>
    <%= form.collection_check_boxes :feature_ids, features, :id, :name do |b| %>
    <%=b.label(class: 'form-check-label') %>
    <%=b.check_box(class: 'form-check-line mr-2')%>
    <% end %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :odometer, class: "form-label" %>
    <%= form.number_field :odometer %><p> kms </p>
  </div>

<div class="form-group mb-3">
    <%= form.label :color, class: "form-label" %>
    <%= form.select :color, colors %>
</div>

<div class="form-group mb-3">
    <%= form.label :transmission, class: "form-label" %>
    <%= form.select :transmission, transmissions %>
</div>

<div class="form-group mb-3">
    <%= form.label :starter, class: "form-label" %>
    <%= form.select :starter, starters %>
</div>

  <div class="form-check mb-3">
    <%= form.label :insurance, class: "form-label" %>
    <%= form.check_box :insurance %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :picture, class: "form-label" %>
    <%= form.file_field :picture, accept: 'image/png, image/jpg, image/jpeg', class: "form-control-file" %>
    <small class='form-text text-muted'> PNG, JPG, or JPEG only </small>
  </div>

  <div class="form-group mb-3">
    <%= form.label :available, class: "form-label" %>
    <%= form.check_box :available %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :price, class: "form-label" %>
    <%= form.number_field :price, class: "form-control" %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
